div {
    margin: 12px 25%;
    width: 50%;
  }
  body {
    font-family: 'Roboto Mono', monospace;
    background-color:#35858B ;
    color: #AEFEFF;
  }
a{
    color: chartreuse;
}
p {
    font-size: 16px;
    margin: 50px 0;
    padding: 20px 30px;
    border: 10px solid rgb(0, 225, 255);
}
h1 {font-size: 20px;}
img { 
               border: 10px solid rgb(0, 225, 255);
    width: 100%;
}


  




